@model EmployeeDbApp.Models.Content.Department

@{
    ViewData["Title"] = "Create";
}


@if(ViewBag.Message != null)    
{    
<div class="alert alert-success" role="alert">    
 @ViewBag.Message    
</div> 
}





<div class="container">   
    <div class="row">
      <div class=" card col-md-4 offset-md-4 border p-5 shadow">
       
        <form asp-action=@ViewBag.Title>
          <div asp-validation-summary=All class="text-danger"></div>
          <h3 class="fw-bold text-center"> Add new department </h3>

            <hr />

          <div class="row-cols-md-2 mb-sm-3">
                
                <input asp-for="DepartmentName" class="form-control"  placeholder="Department name ...."/>
                <span asp-validation-for="DepartmentName" class="text-danger"></span>
          </div>

          <hr>


            <div class="row ">
                <input asp-action="Create" type="submit" value="Save" class="btn btn-primary col-md-3 " />

                <input type="reset" class="btn btn-warning col-md-3 ms-md-auto">
                <a asp-action="Index" class="btn btn-dark col-md-3 ms-md-auto">Cancel</a>
            
            </div>


        </form>
      </div>
    </div>
  </div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

